* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 10px;
    font-weight: 700;
    font-size: 35px;
    color: rgb(4, 4, 83);
}

h3 {
    margin: 10px;
    font-weight: 500;
    font-size: 20px;
    color: rgb(5, 5, 100);
    text-decoration: underline;
}

p {
    margin: 10px;
    font-size: 16px;
    color: black;
}

li{
    margin: 10px 25px;
    font-size: 16px;
    color: black;
}

a {
color: red;
margin: 10px 25px;
font-weight: 700;
}

h4{
    color: rgb(5, 5, 100);
margin: 10px 25px;
font-weight: 700;
}

img{
width: 250px;

}